*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*------------------------book course--------------  */

.coursing {
    width: auto;
    height: 60vh;
    color: #34495e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(32, 33, 36);
}
input{
	display: none;
}
img{
	width: 100%;
	height: 100%;
}
.book{
	display: flex;
}
#cover{
	width: 250px;
	height: 400px;
}
.flip-book{
	width: 250px;
	height: 400px;
	position: relative;
	perspective: 1500px;
}
.flip{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform-origin: left;
	transform-style: preserve-3d;
	transform: rotateY(0deg);
	transition: .5s;
	color: #000;
}
p{
	font-size: 14px;
	line-height: 24px;
}
.front{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
	box-sizing: border-box;
	padding: 0 13px;
	box-shadow: inset 20px 0 50px rgba(0,0,0,0.5) 0 2px 5px rgba(0,0,0,.5);
}
.back{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99;
	transform: rotateY(180deg);
	backface-visibility: hidden;
	background: #000;
}
.next-btn{
	position: absolute;
	bottom: 13px;
	right: 13px;
	cursor: pointer;
    border-color: #04AA6D;
    color: green;
    
}
.back-btn{
	position: absolute;
	bottom: 13px;
	right: 13px;
	cursor: pointer;
	color: black;
}
#p1{
	z-index: 5;
}
#p2{
	z-index: 4;
}
#p3{
	z-index: 3;
}
#p4{
	z-index: 2;
}
#p5{
	z-index: 1;
}
#c1:checked ~ .flip-book #p1{
	transform: rotateY(-180deg);
	z-index: 1;
}
#c2:checked ~ .flip-book #p2{
	transform: rotateY(-180deg);
	z-index: 2;
}
#c3:checked ~ .flip-book #p3{
	transform: rotateY(-180deg);
	z-index: 3;
}
#c4:checked ~ .flip-book #p4{
	transform: rotateY(-180deg);
	z-index: 3;
}
#c5:checked ~ .flip-book #p5{
	transform: rotateY(-180deg);
	z-index: 3;
}

/* ----------------upper part------------------- */

.course-header {
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("../images/school_bg_header.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.course-introduction {
    width: 90%;
    color: #fff;
    padding-top: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.course-introduction h1{
    font-size: 50px;
}
nav{
    display: flex;
    padding: 2% 6%;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(100%);
    justify-content: space-between;
    align-items: center;
    height: 71px;
    overflow-y: hidden;
}
nav img{
    width: 68px;
    border-radius: 50%;
}
.links{
    flex: 1;
    text-align: right;
}
.links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.links ul li:hover::after{
    width: 100%;
}
nav .fa-solid{
    display: none;
}

/* --------------footer----------------- */

footer {
    text-align: center;
    padding: 30px;
    background-color: DarkSalmon;
    color: white;
    display: block;
    height: 310px;
    background: #343a40;
    color: antiquewhite;
    bottom: 0px;
    left: 0px;
    padding-top: 30px;
}
footer p{
    display: block;
    text-align: center;
    padding-top: 1em;
    color:gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer h2{
    display: flex;
    text-align: start;
    color:#55799c;
}
footer h3{
    display: flex;
    text-align: start;
    color:#55799c;
}
footer .fa-solid{
    display: flex;
    padding: 10px;
    text-align: start;
    color:#55799c;
    width: 250px;
}
footer .fa-brands{
    display: flex;
    padding: 10px;
    text-align: justify;
    color:#55799c;
    cursor: pointer;
    width: 250px;
}
footer a{
    text-decoration: none;
    display: block;
    width: 20%;
}