*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("../images/school_bg_header.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(100%);
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
nav img{
    width: 68px;
    border-radius: 50%;
}
.links{
    flex: 1;
    text-align: right;
}
.links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.links ul li:hover::after{
    width: 100%;
}
.introduction{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.introduction h1{
    font-size: 69px;
}
.introduction p{
    margin: 10px 0 10px;
    font-size: 30px;
    color: #fff;
}
nav .fa-solid{
    display: none;
}

/* ------features_index.html------ */

.features{
    width: 87%;
    text-align: center;
    padding-top: 80px;
    margin: auto;
}
.features h1 {
    font-size: 350%;
    font-weight: 800;
}
.items {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-basis: 31%;
    background: #55799c;
    border-radius: 10px;
    margin-bottom: 3%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.7s;
}
.items:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 2);
}
.services{
    padding-bottom: 100px;
    width: 600px;
    color: #fff;
}
.services h2{
    padding-bottom: 15px;
}
.services p{
    font-size: 16px;
    padding: 15px;
    line-height: 22px;
    text-align: justify;
}
.services img{
    padding-top: 50px;
    border-radius: 10px;
    width: 80%;
    transition: 0.7s;
    flex-basis: 31%;
    display: absolute;
}
.services:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 2);
}
.services_1 {
    padding-bottom: 100px;
    width: 600px;
    color: #fff;
}
.services_1 h2{
    padding-bottom: 15px;
}
.services_1 p{
    font-size: 16px;
    padding: 15px;
    line-height: 22px;
    text-align: justify;
}
.services_1 img{
    padding-top: 50px;
    border-radius: 10px;
    width: 80%;
    transition: 0.7s;
    flex-basis: 31%;
    display: absolute;
}
.services_1:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 2);
}
.services_2 {
    padding-bottom: 100px;
    width: 600px;
    color: #fff;
}
.services_2 h2{
    padding-bottom: 27px;
}
.services p{
    font-size: 16px;
    padding: 15px;
    line-height: 22px;
    text-align: justify;
}
.services_2 img{
    padding-top: 50px;
    border-radius: 10px;
    width: 90%;
    transition: 0.7s;
    flex-basis: 31%;
    display: absolute;
}
.services_2:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 2);
}

/* -------reviews-------- */

.reviews {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: auto;
    flex-direction: column;
}
.reviews h1{
    font-size: 350%;
    padding-bottom: 80px;
}
.box_containers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.top_1 {
    display: flex;
    align-items: center;
    margin-bottom: 23px;
    justify-content: space-between;
}
.review_1 {
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.review_1:hover {
    transform: translateY(-10px);
    transition: all ease 0.5s;
}
.profile_pic_1 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
}
.profile_pic_1 .fas {
    width: 80%;
    height: 80%;
    object-fit: cover;
    object-position: center;
}
.username_1 {
    display: flex;
    flex-direction: column;
}
.username_1 strong {
    color: #3d3d3d;
    font-size: 20px;
    letter-spacing: 1px;
}
.statement_1 {
    color: rgba(228, 228, 69, 0.527);
}
.comment_1 p{
    font-size: 15px;
    color: gray;
}
/* ------footer-------- */

footer {
    text-align: center;
    padding: 30px;
    background-color: DarkSalmon;
    color: white;
    display: block;
    height: 330px;
    background: #343a40;
    color: antiquewhite;
    bottom: 0px;
    left: 0px;
    padding-top: 30px;
}
footer p{
    display: block;
    text-align: center;
    padding-top: 1em;
    color:gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer h2{
    display: flex;
    text-align: start;
    color:#55799c;
}
footer h3{
    display: flex;
    text-align: start;
    color:#55799c;
}
footer .fa-solid{
    display: flex;
    padding: 10px;
    text-align: start;
    color:#55799c;
    width: 250px;
}
footer .fa-brands{
    display: flex;
    padding: 10px;
    text-align: justify;
    color:#55799c;
    cursor: pointer;
    width: 250px;
}
footer a{
    text-decoration: none;
    width: 10%;
}

/* -------fancy_button------ */

.fancybutton{
    display: inline-block;
    text-decoration: none;
    color:rgb(0, 0, 0);
    border: 1px solid rgb(0, 195, 255);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.fancybutton:hover{
    border: 1px solid rgb(0, 195, 255);
    background-color: rgb(0, 195, 255);
    transition: 1s;
}


/* ------sub-header_about.html----- */
.sub-header{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("../images/about\ us.png");
    background-position: center;
    background-size: cover;
    position: relative;
}
.sub-header h1{
    text-align: center;
    margin-top: 100px;
    font-size: 80px;
    color: white;
}
.row {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.aboutcol {
    flex-basis: 48%;
    padding: 30px 2px;
    float: left;
}
.aboutcol h1{
    padding-top: 0;
    align-content: center;
}
.aboutcol p{
    padding: 15px 0 25px;
    display: block;
    width: 400px;
    text-align: justify;
}
.about_image {
    width: 50%;
    padding-left: 700px;
    padding-bottom: 100px;
}
.about_image img{
    width: 50%;
}
.about_image_1 {
    width: 50%;
    padding-left: 700px;
    padding-bottom: 100px;
}
.about_image_1 img{
    width: 85%;
}
/* -----------tutors------------- */
.tutors {
    width: 87%;
    margin: auto;
}
.tutors h1{
    font-size: 350%;
    font-weight: 800;
    text-align: center;
}
.itemings {
    margin-top: 5%;
    display: flex;
    flex-basis: 31%;
    background: #788fa7;
    border-radius: 10px;
    margin-bottom: 3%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.7s;
}
.itemings:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 2);
}
.tutor {
    padding-bottom: 100px;
    color: #fff;
    display: flex;
    width: 43%;
    height: auto;
}
.individuals{
    margin: 6%;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
}
.individuals h2{
    font-size: 16px;
    padding: 15px;
    line-height: 22px;
    text-align: center;
}
.individuals img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.individuals:hover{
    background-color: rgb(0, 195, 255);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 2);
    transition: 1s;
}


@media(max-width: 745px){
    nav img{
        width: 50px;
    }
    .introduction h1{
        font-size: 20px;
    }
    .introduction p{
        margin: 10px 0 10px;
        font-size: 15px;
        color: #fff;
    }
    .links ul li{
        display: block;
        padding-left: 30px;
        padding-bottom: 20px;
    }
    .links ul li a{
        font-size: 25px;
    }
    .links {
        position: absolute;
        background-color: rgba(255, 255, 255, .15);  
        backdrop-filter: blur(5px);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -230px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa-solid{
        display: block;
        color: #fff;
        margin: 10px;
        cursor: pointer;
        padding: 20px;
    }
    .links {
        padding: 10px;
    }
}

@media(max-width: 952px){
    nav img{
        width: 75px;
    }
    .introduction h1{
        font-size: 49px;
    }
    .introduction p{
        margin: 10px 0 10px;
        font-size: 20px;
        color: #fff;
    }
    .links ul li{
        display: inline-block;
        padding-left: 30px;
        padding-bottom: 20px;
        text-align: left;
    }
    .links ul li a{
        font-size: 20px;
    }
    .individuals{
        margin: 3%;
        background-color: rgba(255, 255, 255, .15);  
        backdrop-filter: blur(5px);
        padding: 15px;
        border-radius: 10px;
        display: block;
    }
    .individuals img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    .tutor {
        padding-bottom: 100px;
        color: #fff;
        display: block;
        width: auto;
        height: auto;
    }
    .tutors h1{
        font-size: 350%;
        font-weight: 800;
        text-align: left;
    }
    .individuals img{
        width: 150px;
        height: 150px;
        display: center;
        border-radius: 50%;
    }
    .itemings {
        margin-top: 5%;
        display: inline-block;
        flex-basis: 31%;
        background: #788fa7;
        border-radius: 10px;
        margin-bottom: 3%;
        padding: 20px 12px;
        box-sizing: border-box;
        transition: 0.7s;
    }
    .about_image {
        width: 50%;
        padding-left: 0;
        padding-bottom: 30px;
    }
    .about_image_1 {
        width: 100%;
        padding-left: 0;
        padding-bottom: 30px;
    }
    .sub-header h1{
        margin-top: 100px;
        font-size: 40px;
    }
}

@media(max-width: 873px){
    nav img{
        width: 65px;
    }
    .introduction h1{
        font-size: 49px;
    }
    .introduction p{
        margin: 10px 0 10px;
        font-size: 20px;
        color: #fff;
    }
    .links ul li{
        display: inline-block;
        padding-left: 30px;
        padding-bottom: 20px;
        text-align: left;
    }
    .links ul li a{
        font-size: 20px;
    }
}
@media(max-width: 808px){
    nav img{
        width: 60px;
    }
    .introduction h1{
        font-size: 49px;
    }
    .introduction p{
        margin: 10px 0 10px;
        font-size: 20px;
        color: #fff;
    }
    .links ul li{
        display: inline-block;
        padding-left: 30px;
        padding-bottom: 20px;
        text-align: left;
    }
    .links ul li a{
        font-size: 20px;
    }
}
@media(max-width: 413px){
    .header{
        min-height: 50vh;
        width: 100%;
        background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("../images/school_bg_header.jpg");
        background-position: center;
        background-size: cover;
        position: relative;
        overflow-y: hidden;
    }
    .sub-header {
        overflow-y: hidden;
    }
    .introduction h1{
        font-size: 40px;
    }
    .services img{
        padding-top: 50px;
        border-radius: 10px;
        width: 65%;
        transition: 0.7s;
        flex-basis: 31%;
        display: absolute;
    }
    .services_1 img{
        padding-top: 50px;
        border-radius: 10px;
        width: 65%;
        transition: 0.7s;
        flex-basis: 31%;
        display: absolute;
    }
    .services_2 img{
        padding-top: 50px;
        border-radius: 10px;
        width: 65%;
        transition: 0.7s;
        flex-basis: 31%;
        display: absolute;
    }
    .services h2{
        padding-bottom: 15px;
        font-size: 90%;
    }
    .services_1 h2{
        padding-bottom: 15px;
        font-size: 90%;
    }
    .services_2 h2{
        padding-bottom: 15px;
        font-size: 90%;
    }
    .services p{
        font-size: 13px;
        padding: 15px;
        line-height: 22px;
        text-align: justify;
    }
    .services_1 p{
        font-size: 13px;
        padding: 15px;
        line-height: 22px;
        text-align: justify;
    }
    .services_2 p{
        font-size: 13px;
        padding: 15px;
        line-height: 22px;
        text-align: justify;
    }
    .reviews h1{
        font-size: 200%;
        padding-bottom: 80px;
        text-align: center;
    }
    .reviews {
        display: block;
        width: 100%;
        align-items: center;
        padding-top: 80px;
        padding-bottom: 80px;
        margin: auto;
        flex-direction: column;
    }
    .row {
        width: auto;
        margin: auto;
        padding-top: 80px;
        padding-bottom: 50px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .tutors h1{
        font-size: 350%;
        font-weight: 800;
        text-align: center;
        padding-left: 5px;
    }
    .tutors {
        width: 50%;
        margin: auto;
    }
    .aboutcol p{
        padding: 15px 0 25px;
        display: block;
        width: auto;
        text-align: justify;
    }
}